@import '../../variables.css';

.day-view {
  padding: var(--spacing-md);
}

.section-title {
  color: var(--text-primary);
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-lg);
}

.time-slots-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-md);
}

.time-slot {
  /* background-color: var(--background-primary); */
  background-color: red;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  cursor: pointer;
  transition: all var(--transition-speed);
}

.time-slot.available {
  background-color: var(--background-primary);
}

.time-slot.available:hover {
  background-color: var(--background-hover);
  transform: translateY(-2px);
  box-shadow: var(--shadow-sm);
}

.time-slot.occupied {
  background-color: var(--background-tertiary);
  cursor: not-allowed;
}

.time {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
  display: block;
  margin-bottom: var(--spacing-sm);
}

.appointment-info {
  margin-top: var(--spacing-sm);
}

.patient-name {
  display: block;
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
  margin-bottom: var(--spacing-xs);
}

.treatment {
  display: block;
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
}

.loading {
  text-align: center;
  padding: var(--spacing-xl);
  color: var(--text-secondary);
} 