/* content.css tiene aside y main hacer que aside este a la izquierda y main ocupe lugar prominente */
.content {
    background-color: var(--background-primary);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* aside {
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }
}